<div class="footer-newslettercontianer">
  <div class="newsletter-wrapper">
    {% unless section.settings.newsletter_title == blank %}
      <h4 style="color:{{section.settings.title_color}};">{{ section.settings.newsletter_title | escape }}</h4>
    {% endunless %}
    {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
    <div class="newsletter--form">
      <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
    </div>
    {% else %}
    <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="newsletter--form">
      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
          <button id="Subscribe" type="submit"
                  class="btn newsletter__submit"
                  aria-label="{{ 'general.newsletter_form.submit' | t }}">
           {{ 'general.newsletter_form.submit' | t }}
          </button>
        </span>
      </div>
    </div>
    {% endif %}
    {% endform %}
  </div>

  {% if footer_social_enable %}
    <ul class="no-bullets social-icons">
      {% if settings.social_facebook_link != blank %}
      <li>
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          <span class="icon icon-facebook" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_pinterest_link != blank %}
      <li>
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          <span class="icon icon-pinterest" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_snapchat_link != blank %}
      <li>
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          <span class="icon icon-snapchat" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_google_plus_link != blank %}
      <li>
        <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
          <span class="icon icon-google_plus" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_tumblr_link != blank %}
      <li>
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          <span class="icon icon-tumblr" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_youtube_link != blank %}
      <li>
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          <span class="icon icon-youtube" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_instagram_link != blank %}
      <li>
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          <span class="icon icon-instagram" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_twitter_link != blank %}
      <li>
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          <span class="icon icon-twitter" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_vimeo_link != blank %}
      <li>
        <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          <span class="icon icon-vimeo" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_fancy_link != blank %}
      <li>
        <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
          <span class="icon icon-fancy" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  {% endif %}

</div>
