<div class="bg-text-link">
  {% for block in section.blocks %}
  {% if block.settings.image %}
  <img class="hide-mb" src="{{ block.settings.image |img_url: 'master' }}" alt=""/>
  {% endif %}
  
  {% if block.settings.image_mb %}
  <img class="hide-pc" src="{{ block.settings.image_mb |img_url: 'master' }}" alt=""/>
  {% else %}
   <img class="hide-pc" src="{{ block.settings.image |img_url: 'master' }}" alt=""/>
  {% endif %}

  <div class="bg-text-wrapper">
    {% if block.settings.title != blank %}
    <h2>{{ block.settings.title }}</h2>
    {% endif %}

    {% if block.settings.text != blank %}
    <p>{{ block.settings.text }}</p>
    {% endif %}

    {% if block.settings.btn != blank and block.settings.link != blank %}
    <a class="btn" href="{{ block.settings.link }}"> {{ block.settings.btn }}</a>
    {% endif %}
  </div>
  <style>
    .bg-text-wrapper{
      position: absolute;
      left: {{ block.settings.content_x_position | append: '%' }};
      top:50%;
      transform: translate(-{{ block.settings.content_x_position | append: '%' }}, -50%);
      max-width:30vw;
    }
  </style>
  {% endfor %}
</div>

<style>
  .no-margin-section{
    margin-top:{{section.settings.margin_top | append:'px'}} !important; 
  }
  .bg-text-link{ position: relative;margin-bottom: -7px; }
  .bg-text-wrapper h2{ font-size: 1.875vw; }
  .bg-text-link img{width:100%;}
</style>

{% schema %}
  {
    "name": "Background and Text",
    "class": "no-margin-section",
    "settings": [
      {
        "type":"range",
        "id":"margin_top",
        "min":0,
        "max":60,
        "step":5,
        "unit":"px",
        "label":"margin top space",
        "default":0
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image PC",
            "info": "Size: 1920px*700px"
          },{
            "type": "image_picker",
            "id": "image_mb",
            "label": "Background Image Mobile",
            "info": "Size: 750px*1200px"
          },{
            "type": "text",
            "id": "title",
            "label": "Title"
          },{
            "type": "text",
            "id": "text",
            "label": "Text"
          },{
            "type": "text",
            "id": "btn",
            "label": "Button Text",
            "default": "Shop Now"
          },{
            "type": "url",
            "id": "link",
            "label": "Button Link"
          },{
            "type": "range",
            "id": "content_x_position",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "%",
            "label": "Content horizontal position",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Background and Text",
        "category": "text"
 
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
