{%if section.settings.code != blank%}  

<div class="video-section-wrapper">
  <div class="player_video-wrapper">

      {% if section.settings.text != blank %}
      <div class="text">
        {{section.settings.text}}
      </div>
      {% endif %}

    {%if section.settings.image != blank%}  
    <img data-src="{{section.settings.image | img_url: 'master'}}"  class="lazyload prev_video_image hide-mb"/>
    {% endif %}
    {%if section.settings.image_mb != blank%} 
    <img data-src="{{section.settings.image_mb | img_url: 'master'}}" class="lazyload prev_video_image hide-pc" />
    {% else %}
    <img data-src="{{section.settings.image | img_url: 'master'}}"  class="lazyload prev_video_image hide-pc"/>
    {% endif %}

    <div class="product_player_video-wrapper">
      <div id="product_player_video"></div>
    </div>
    
    <div class="play-icon-wrapper">
      {%- render 'svg_html',svg_icon: 'play_icon' -%} 
    </div>
    
  </div>
</div>

<script>
  var player_videos =[];
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api?"+Math.random();
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<script>
  function productVedioChange(event){
    if(event.data == 0){
      $(".player_video-wrapper").find(".prev_video_image").removeClass("hide");
      $(".player_video-wrapper").find(".play-icon-wrapper").css("display","block");
      $(".player_video-wrapper").find(".text").css("display","block");
      $(".player_video-wrapper").find(".product_player_video-wrapper").css("display","none");
    }
  }

  var player_pdtpage_desc;
  function onYouTubePlayerAPIReady() {
    player_pdtpage_product = new YT.Player('product_player_video', {
      height: '675',
      width: '1200',
      videoId: {{section.settings.code | json}},
      playerVars:{
        controls: 1,
      },
      events: {
        'onStateChange': productVedioChange,                     
      },
   });
 }
</script>
<script>
$(function(){
   
    $(".player_video-wrapper").click(function(){
      if(player_pdtpage_product){
        if($(window).width() > 768){
          $(this).find("#product_player_video").css({'width':$(this).find(".prev_video_image.hide-mb").width(),'height':$(this).find(".prev_video_image.hide-mb").height(),'display': 'block'});
          $(this).find(".text").css("display","none");
        }else{
          $(this).find("#product_player_video").css({'width':$(this).find(".prev_video_image.hide-pc").width(),'height':$(this).find(".prev_video_image.hide-pc").height(),'display': 'block'});
        }
        $(this).find(".prev_video_image").addClass("hide");
        $(this).find(".play-icon-wrapper").css("display","none");
        $(this).find(".product_player_video-wrapper").css("display","block");
        player_pdtpage_product.playVideo();
      }
    });
  });
</script>
{% endif %} 

{% schema %}
  {
    "name": "Video with cover",
    "class": "video-section",
    "settings": [
      {
        "type": "text",
        "label": "Youtube Code",
        "id": "code"
      },{
        "type": "image_picker",
        "label": "Prev Image",
        "id": "image",
        "info": "Size:1920px*840px"
      },{
        "type": "image_picker",
        "label": "Prev Image Mobile",
        "id": "image_mb"
	  },{
        "type": "html",
        "label": "text",
        "id": "text"
	  }
	],
    "presets": [
      {
        "name": {
          "cs": "Video",
          "da": "Video",
          "de": "Video",
          "en": "Video with cover",
          "es": "Video",
          "fi": "Video",
          "fr": "Vidéo",
          "it": "Video",
          "ja": "ビデオ",
          "ko": "동영상",
          "nb": "Video",
          "nl": "Video",
          "pl": "Film",
          "pt-BR": "Vídeo",
          "pt-PT": "Vídeo",
          "sv": "Video",
          "th": "วิดีโอ",
          "tr": "Video",
          "vi": "Video",
          "zh-CN": "视频",
          "zh-TW": "影片"
        },
        "category": {
          "cs": "Video",
          "da": "Video",
          "de": "Video",
          "en": "Video",
          "es": "Video",
          "fi": "Video",
          "fr": "Vidéo",
          "it": "Video",
          "ja": "動画",
          "ko": "동영상",
          "nb": "Video",
          "nl": "Video",
          "pl": "Film",
          "pt-BR": "Vídeo",
          "pt-PT": "Vídeo",
          "sv": "Video",
          "th": "วิดีโอ",
          "tr": "Video",
          "vi": "Video",
          "zh-CN": "视频",
          "zh-TW": "影片"
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
